<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meridio.tinder2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".ResponseActivity"></activity>
        <activity android:name=".Main2Activity" />
        <activity android:name=".AboutMe" />
        <activity android:name=".MapsActivity" />
        <activity android:name=".NewsActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".bootActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseTask"
            android:launchMode="singleInstance" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".GuideActivity" />
    </application>

</manifest>